# Blender files
*.blend
*.blend1
*.blend2
*.tmp
state/


# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
venv/
ENV/
env/
.venv

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# Local config
.env
*.config.local

*.obj
*.mtl
